<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Watchlist</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <h2>
        <img class="study" src="{{ url_for('static', filename='images/study.png') }}" alt="study">
        {{ name }}'s Watchlist
    </h2>
    {# 使用 length 过滤器获取 movies 变量的长度 #}
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}  {# 迭代 movies 变量 #}
        <li>{{ movie.title }} - {{ movie.year }}</li>  {# 等同于 movie['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <img class="cover" src="{{ url_for('static', filename='images/cover.png') }}" alt="cover">
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">hello F~la~sk</a></small>
    </footer>
</body>
</html>