<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s Movie List</title>
    {# Jinja2中内置了Flask函数，所以对于url_for，不需要从flask调，直接用就行了 #}
    <link rel="icon" href="{{ url_for('static', filename='./images/favicon-32x32.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img class="jojo" alt="jojo_pic" src="{{ url_for('static', filename='./images/jojo.png') }}">
        {{ name }}'s Movie List
    </h2>
    <p>
        {{ movies|length }} Titles
    </p>
    <ul class="movie-list">
        {% for movie in movies %}
        <li>
            {{ movie.title }} - {{ movie.year }}
        </li>
        {% endfor %}
    </ul>
    <img class="jotalang" alt="jojo_2" src="{{ url_for('static', filename='./images/jotalang.png') }}">
    <footer>
        <small>&copy; 2024 <a href="https://baidu.com">This is baidutest</a> </small>
    </footer>
</body>

</html>


